<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,maximum-scale=2">
  <link rel="stylesheet" type="text/css" media="screen"
    href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/prism.css' | relative_url }}">
</head>

<body>

  <!-- HEADER -->

  <!-- MAIN CONTENT -->
  <div class="resume-container">

    <!-- 왼쪽 목차 -->
    <nav class="resume-toc">
      <ul>
        <li><a href="#profile">About</a></li>
        <li><a href="#experience">experience</a></li>
        <li><a href="#projects">projects</a></li>
        <li><a href="#skills">skills</a></li>
      </ul>
    </nav>

    <!-- 오른쪽 본문 -->
    <div class="resume-content">
      <section id="profile">
        <!--<h2>👤 프로필</h2> -->
        <p>신재현</p>
        <p>GitHub: {{ site.github.repository_url }}</p>
      </section>

      <section id="experience">
        <h2>📁 experience</h2>
      </section>

      <section id="projects">
        <h2>📁 projects</h2>
      </section>

      <section id="skills">
        <h2>🛠️ 기술 스택</h2>
        <p>C++</p>
        <p>Unreal Engine</p>
      </section>

      <section id="education">
        <h2>📚 education</h2>
      </section>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const sections = document.querySelectorAll("section");
        const navLinks = document.querySelectorAll(".resume-toc a");

        window.addEventListener("scroll", () => {
          let current = "";

          sections.forEach((section) => {
            const sectionTop = section.offsetTop - 100;
            if (pageYOffset >= sectionTop) {
              current = section.getAttribute("id");
            }
          });

          navLinks.forEach((link) => {
            link.classList.remove("active");
            if (link.getAttribute("href") === "#" + current) {
              link.classList.add("active");
            }
          });
        });
      });
    </script>

  </div>


  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="inner">
      {% if site.github.is_project_page %}
      <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a
          href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}
      <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
    </footer>
  </div>


  <script src="{{ '/assets/js/prism.js' | relative_url }}"></script>
</body>

</html>