<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,maximum-scale=2">
  <link rel="stylesheet" type="text/css" media="screen"
    href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="stylesheet" href="{{ '/assets/css/prism.css' | relative_url }}">
</head>

<body>

  <!-- HEADER -->

  <!-- MAIN CONTENT -->
  <div class="resume-container">

    <!-- 왼쪽 목차 -->
    <nav class="resume-toc">
      <ul>
        <li><a href="#profile">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <!-- <li><a href="#experience">experience</a></li> -->
        <li><a href="#projects">Project</a></li>
      </ul>
    </nav>

    <!-- 오른쪽 본문 -->
    <div class="resume-content">
      <section id="profile">
        <h2><span style="color: gray; font-weight: bold; font-size: 40px;">About</span></h2>
        <p>👤 신재현</p>
        <p><i class="fas fa-envelope" style="margin-right: 0.7em;"></i>ssqqazz333@gmail.com</p>
        <p>
          <i class="fab fa-github" style="margin-right: 0.5em;"></i>
          <a href="https://github.com/sqqaazz" target="_blank">
            {{ site.github.repository_url }}
          </a>
        </p>
      </section>

      <!--
      <section id="experience">
        <h2>📁 experience</h2>
      </section>
      -->

      <section id="skills">
        <h2><span style="color: gray; font-weight: bold; font-size: 28px;">Skills</span></h2>

        <!-- <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" width="24" style="vertical-align: middle; margin-right: 0.5em;"> -->
        <p>C++</p>
        <!-- <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/unrealengine/unrealengine-original.svg" width="24" style="vertical-align: middle; margin-right: 0.5em;"> -->
        <p>Unreal Engine</p>

      </section>

      <section id="projects">
        <h2><span style="color: gray; font-weight: bold; font-size: 28px;">Project</span></h2>
        <p> 플레이어와 AI는 주어진 자원을 활용하여 건물 배치/유닛 생산/업그레이드 등을 수행하여 전장을 유리하게 하는 역할을 하고,</p>
        <p>두 '플레이어' 에 의해 소환된 유닛들이 각자의 AI를 가지고 지정된 명령을 수행하여 최종적으로는 적 기지를 파괴하는 것을 목표로 하는</p>
        <p>턴제 전략 게임을 목표로 프로젝트를 개발 중에 있습니다.</p>
        <div class="thumbnail-grid">
          {% for category in site.categories %}
          {% assign category_name = category[0] %}
          {% assign category_image = site.data.category_images[category_name] %}

          <div class="thumbnail-card">
            <a href="{{ site.baseurl }}/category/{{ category[0] | uri_escape }}/">
              <div class="thumbnail-image-wrapper">
                <img src="{{ category_image | default: '/assets/images/placeholder.jpg' | relative_url }}"
                  alt="{{ category_name }}">
              </div>
              <div class="thumbnail-title">
                {{ category_name }}
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </section>

      <!--
      <section id="education">
        <h2>📚 education</h2>
      </section>
    -->
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const sections = document.querySelectorAll("section");
        const navLinks = document.querySelectorAll(".resume-toc a");

        window.addEventListener("scroll", () => {
          let current = "";

          sections.forEach((section) => {
            const sectionTop = section.offsetTop - 100;
            if (pageYOffset >= sectionTop) {
              current = section.getAttribute("id");
            }
          });

          navLinks.forEach((link) => {
            link.classList.remove("active");
            if (link.getAttribute("href") === "#" + current) {
              link.classList.add("active");
            }
          });
        });
      });
    </script>

  </div>


  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="inner">
      {% if site.github.is_project_page %}
      <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a
          href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}
      <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
    </footer>
  </div>


  <script src="{{ '/assets/js/prism.js' | relative_url }}"></script>
</body>

</html>